<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Emagicone_Affiliate>
            <version>0.0.1</version>
        </Emagicone_Affiliate>
    </modules>
    <global>
        <models>
            <emagicone_affiliate>
                <class>Emagicone_Affiliate_Model</class>
            </emagicone_affiliate>
        </models>
        <events>
            <controller_front_init_before>
                <observers>
                    <emagicone_affiliate>
                        <class>emagicone_affiliate/observer</class>
                        <method>captureReferral</method>
                        <type>singleton</type>
                    </emagicone_affiliate>
                </observers>
            </controller_front_init_before>
        </events>
    </global>
    <default>
        <emagicone_affiliate>
            <general>
                <trim_params>1</trim_params>
            </general>
        </emagicone_affiliate>
    </default>
</config>
